 <!-- Simplethat shows user progress when successful -->

@{
    ViewData["Title"] = "Success";
}
<h1>Success</h1>

<p>The form was successful and was able to add a new person.</p>

<p>Click the link in the navbar called 'Form' to go back</p>
